<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
	<configurationString>Data Source=sunflower.arvixe.com;Initial Catalog=testingDB;User Id=jcbrock;Password=tcotta44!;</configurationString>
	<ftpRootAddress>ftp://www.jeffandlainawedding.com/jeffandlainawedding.com/wwwroot/GameAssets/</ftpRootAddress>
</configuration>